html,
body {
    position: relative;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

p {
    margin: 0px;
}

.mainDiv {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.leftDiv {
    position: relative;
    padding-left: 10px;
    box-sizing: border-box;
    width: 45%;
    height: 100%;
    overflow: hidden;
}

.rightDiv {
    border: 1px solid gray;
    box-sizing: border-box;
    position: relative;
    background-color: rgb(249, 249, 249);
    width: 55%;
    height: 100%;
    overflow: hidden;
}

.rightDivContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.canvasButtons {
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.canvasButton {
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    outline: none;

    border: 0.5px solid black;
    stroke: black;
}
.canvasButton.fill {
    fill: black;
}
.canvasButton.selected {
    border: 1px solid red;
    stroke: red;
}
.canvasButton.fill.selected {
    fill: red;
}
.textDiv {
    margin-top: 10px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
    height: 100%;
}

.rightMenuDiv {
    font-size: 10px;
    text-align: center;
    box-sizing: border-box;
    width: 20%;
    height: 100%;
}

.rightMenuDiv table {
    text-align: left;
}

#questionHeader {
    color: grey;
    display: none;
}

#answerHeader {
    color: grey;
    display: none;
}

hr {
    height: 1px;
    background-color: grey;
    border: none;
}

#questionDiv {}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#rightDivHeader {
    margin-bottom: 20px;
    background-color: rgb(239, 238, 238);
    text-align: center;
}

#resetButton {
    background-color: white;
}

#solveButton {
    background-color: white;
}

#answerDiv {
    height: 400px;
    margin-top: 20px;
    overflow-y: scroll;
}

.valueInput {
    width: 30px;
    display: none;
    border: 2px solid red;
    border-radius: 4px;
}

.equationExplanation {
    color: grey;
    font-style: italic;
    font-size: 10px;
}

.testsTable,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

thead {
    text-align: center;
    background-color: aliceblue;
}

.testDataButton {
    width: 110px;
    margin-top: 0px;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: center;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 10px;
}

.explanatory-small {
    font-size: 7px;
    color: grey;
    display: block;
}

span.frac {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

span.frac>sup,
span.frac>sub {
    display: block;
    font: inherit;
    padding: 0 0.3em;
}

span.frac>sup {
    border-bottom: 0.08em solid;
}

span.frac>span {
    display: none;
}